body {
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* .darkMode {
  color: #C6CDD5;
} */

.centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: 100vw;
  height: 100vh;
  background-color: #0D1117;

  display: grid;
  place-items: center;
}

.bgRectangle {
  height: clamp(300px, calc(1px + 55vh), 700px);
  width: clamp(280px, calc(1px + 75vw), 1400px);
  background-color: #21262D;
  z-index: 0;
  position:absolute;
  border-radius: 10px;
  /* transition: all 1.75s ease-in-out; */
  transition: all 1s ease-in-out;

  /* height: min(90vh, 900px);
  width: min(88vw, 1800px);
  margin: 20%; */
}

.animate {
  animation: rotation 10s linear;
  /* animation-delay: 2s; */
  animation-delay: 1.25s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textContainer {
  text-align: center;
  padding: 1rem;
  flex-direction: column;
  width: 80%;

  opacity: 1;

  z-index: 1;
  /* height: 20%; */

  color: #C6CDD5;

  p {
    margin: 0;
    font-size: clamp(1.2rem, 4vw, 2rem);
  }
}

.typing {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(2.5rem, 5.9vw, 4.5rem);
    margin-bottom: 0.5rem;
}

.purpleText {
    color: #CEA5FB;
}

/* Make this a Button component? */
.button {
  padding: 6px 40px;
  margin-top: 1.8rem;
  font-size: clamp(1.2rem, 4vw, 2rem);
  border-radius: 8px;
  background-color: #21262D;
  border: 1px solid #CEA5FB;
  color: #CEA5FB;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #CEA5FB;
  border: 1px solid #CEA5FB;
  color: #21262D;
}
