/* GENERAL STYLES */

body {
  margin: 0px;
  box-sizing: border-box;
}

.darkMode {
  color: var(--textColourPrimary);
  background-color: var(--backgroundColour);

  .colouredText {
    color: var(--textColourSecondary);
  }
}

/* .lightMode { } */

/* HOME PAGE STYLES */

.centreContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageBackground {
  width: 100vw;
  height: 100vh;
}

.mainContentContainer {
  background-color: var(--containerColour);
  border-radius: 10px;
  flex-direction: column;

  width: min(88vw, 1496px);
  height: min(70vh, 704px);

  /* width: clamp(320px, calc(1px + 75vw), 1496px); */
  /* height: clamp(456px, calc(1px + 60vh), 704px); */
}

/* TASK LIST
[x] ADD DOWNLOAD RESUME BUTTON
    [ ] STYLING BUTTON
    [ ] CHECK BUTTON RESPONSIVE SIZING
    [ ] ADD BUTTON FUNCTIONALITY + HOW TO ADD RESUME LINK
[ ] CHECK MAIN CONTENT FLEX BOX SIZING AND RESPONSIVENESS
[ ] CLEAN UP BUTTON CLASS */

.pageHeader {
  font-family: Courier New, Courier, monospace;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  font-size: clamp(2rem, 10vw, 4rem);
  width: 90%;
}

.subHeading {
  text-align: center;
  margin: 0;
  line-height: 1.5;
  font-size: clamp(1.2rem, 5vw, 1.7rem);
  width: 65%;
}

.button {
  margin-top: 2rem;
  /* padding: 8px 24px; */
  padding: 0.5rem 1rem;
  font-size: clamp(1.1rem, 4.5vw, 1.5rem);
  color: var(--backgroundColour);
  background-color: var(--textColourSecondary);
  border-radius: 10px;
  border: none;
  opacity: 1;
  
  transition: opacity 0.5s ease-in-out;
}

.button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.icon {
  font-size: clamp(1.1rem, 4.5vw, 1.5rem);
  vertical-align: middle;
  color: var(--backgroundColour);
}

/* ANIMATIONS */

.blinkingCursorAnimation {
  border-right: 8px solid;
  animation: cursorColourPrimary 600ms infinite alternate ease-in-out,
             cursorColourSecondary 600ms 1200ms infinite alternate ease-in-out;
}

@keyframes cursorColourPrimary {
  0% {border-right-color: var(--textColourPrimary);}
  100% {border-right-color: transparent;}
}

@keyframes cursorColourSecondary {
  0% {border-right-color: var(--textColourSecondary);}
  100% {border-right-color: transparent;}
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .blinkingCursorAnimation {
    border-right: 4px solid;
  }
}