/* HOME PAGE STYLES */

/* TASK LIST
[ ] CHECK MAIN CONTENT FLEX BOX SIZING AND RESPONSIVENESS
[ ] CLEAN UP BUTTON CLASS */

.subHeading {
  text-align: center;
  margin: 0;
  line-height: 1.5;
  font-size: clamp(1rem, 3vw, 1.5rem);
  width: 65%;
}

.buttonDownload {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin-top: 2.5rem;
  padding: 0.5rem 1rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-decoration: none;
  color: var(--backgroundColour);
  background-color: var(--textColourSecondary);
  border-radius: 0.5rem;
  border: none;
  gap: 0px;
  transition: gap 0.1s linear;
}

.buttonDownload:hover {
  cursor: pointer;
  gap: 8px;
}

.buttonDownload:hover .icon {
  max-width: 2rem;
  opacity: 1;
}

.buttonDownload:active {
  opacity: 0.8;
}

.icon {
  font-size: clamp(1.1rem, 4.5vw, 1.5rem);
  vertical-align: middle;
  color: var(--backgroundColour);

  max-width: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-width 0.3s linear, opacity 0.3s ease-in-out;
}

/* ANIMATIONS */

.blinkingCursorAnimation {
  border-right: 8px solid;
  animation: cursorColourPrimary 600ms infinite alternate ease-in-out,
             cursorColourSecondary 600ms 1200ms infinite alternate ease-in-out;
}

@keyframes cursorColourPrimary {
  0% {border-right-color: var(--textColourPrimary);}
  100% {border-right-color: transparent;}
}

@keyframes cursorColourSecondary {
  0% {border-right-color: var(--textColourSecondary);}
  100% {border-right-color: transparent;}
}

/* MEDIA QUERIES */

@media screen and (orientation: portrait) and (max-width: 640px) {
  .blinkingCursorAnimation {
    border-right: 4px solid;
  }

  .buttonDownload {
    margin-top: 2rem;
  }
}